<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog_internal.log" >

  <targets>
    <target name="file" xsi:type="File" fileName="logs/ows_full.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>